@charset "Shift_JIS";

*{
	margin:0px;
	padding:0px;
}
body{
	text-align:center;
}
div#wrapper{
	width:98%;
	margin:9px auto;
	text-align:left;
}

/* wrap
----------------------------------------------------------------------------- */
div#wrap_content{
	float:right;
	width:80%;
/*	min-width:74%;*/
}
div#wrap_sidebar{
	float:left;
	width:20%;
}
div#footer{
	clear:both;
}

/* ■■ design ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

/* General
----------------------------------------------------------------------------- */
body{
	font-size:15px;
}
img{
	border:none;
	vertical-align:middle;
}
div#wrap_sidebar,
div#wrap_maincol{
	/* PageNavigatorの下とFooterの上に隙間を作る */
	margin-top:3px;
	margin-bottom:7px;
}

/* CenterBar
----------------------------------------------------------------------------- */
div#content{
	padding:0px 15px;
}
div#content h1.title{
	font-size:35px;
	margin:10px 0px 40px 0px;
}
div#content h1.title a{
	text-decoration:none;
}
div#lastmodified{
	color:#777;
	font-size:12px;
	text-align:left;
	margin:-40px 0px 40px 0px;
}
div#body{
	line-height:1.5em;
	width:100%;
	word-break:break-all;
	overflow:hidden;
}
div#body h1,
div#body h2,
div#body h3
div#body h4
div#body input{
	line-height:1em;
}
div#body h1{
	margin:30px 0px 5px 0px;
	padding-left:10px;
}
div#body h1 a{
	text-decoration:none;
}
div#body h2{
	margin:30px 0px 5px 0px;
	padding-left:10px;
}
div#body h2 a{
	text-decoration:none;
}
div#body h3{
	margin:2em 0px 5px 0px;
	padding-left:8px;
}
div#body h3 a{
	text-decoration:none;
}
div#body h4{
	margin:2em 0px 0px 3em;
}
div#body h4 a{
	text-decoration:none;
}

div#body p{
	margin:1em 0px;
}
div#body ul{
	margin:5px 0px 5px 30px;
}
div#body ul ul{
	margin-left:30px;
}
ul.list1{
	list-style-type:disc;
}
ul.list2{
	list-style-type:circle;
}
ul.list3{
	list-style-type:square;
}
ol.list1{
	list-style-type:decimal;
}
ol.list2{
	list-style-type:lower-roman;
}
ol.list3{
	list-style-type:lower-alpha;
}
dd{
	margin:2px 0px 5px 20px;
}
div#body table{
	word-break:break-all;
	word-wrap:break-word;
	max-width:100%;
}
pre{
	background-color:#fff;
	border-top:#666 1px solid;
	border-right:#888899 2px solid;
	border-bottom:#888899 2px solid;
	border-left:#666 1px solid;
	margin:15px;
	padding:.5em;
	white-space:pre;
	word-wrap:break-word;
	overflow:auto;
	color:black;
}
blockquote{
	margin:1em 2em 1em;
	padding-left:0.3em;
	border-left:solid 5px #999;
}
em{
	font-style:italic;
}
strong{
	font-weight:bold;
}
thead td.style_td,
tfoot td.style_td{
	color:inherit;
	background-color:#D0D8E0;
}
thead th.style_th,
tfoot th.style_th{
	color:inherit;
	background-color:#E0E8F0;
}
.style_table{
	padding:0px;
	border:0px;
	margin:auto;
	text-align:left;
	color:inherit;
	background-color:#ccd5dd;
}
.style_th{
	padding:5px;
	margin:1px;
	text-align:center;
	color:inherit;
	background-color:#EEEEEE;
}
.style_td{
	padding:5px;
	margin:1px;
	color:inherit;
	background-color:#EEF5FF;
}
div.ie5{
	text-align:center;
}
span.noexists{
	background-color:#FFFACC;
}
.small{
	font-size:80%;
}
span.size1{
	font-size:xx-small;
}
span.size2{
	font-size:x-small;
}
span.size3{
	font-size:small;
}
span.size4{
	font-size:medium;
}
span.size5{
	font-size:large;
}
span.size6{
	font-size:x-large;
}
span.size7{
	font-size:xx-large;
}
hr{
	color:#fff;
	border:none;
	border-top:1px solid #999;
}
div#body textarea{
	max-width:100%;
}

/* Summary
----------------------------------------------------------------------------- */
#summary{
	color:#666;
	border-left:solid 4px #999;
	margin:45px 0px 0px 0px;
	padding-left:5px;
	clear:both;
}
#note{
	border-bottom:solid 1px #999;
}

/* Header
----------------------------------------------------------------------------- */
#header{
	font-family:Arial,Sans Serif,generic font family;
}
#header a{
	text-decoration:none;
}
#header:before{
	margin:0px 0px -6px 0px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("top_left.png");
	display:block;
	background:transparent url("top_right.png") no-repeat top right;
}
#header:after{
	margin:-6px 0px 0px 0px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("bottom_left.png");
	display:block;
	background:transparent url("bottom_right.png") no-repeat top right;
}
#logo{
	padding:20px 0px 10px 20px;
	font-size:40px;
}

/* Navigator
----------------------------------------------------------------------------- */
#navigator{
	margin:7px 0px 4px;
}
#navigator:before{
	margin:0px 0px -6px 0px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("top_left.png");
	display:block;
	background:transparent url("top_right.png") no-repeat top right;
}
#navigator:after{
	margin:-6px 0px 0px 0px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("bottom_left.png");
	display:block;
	background:transparent url("bottom_right.png") no-repeat top right;
}
#navigator a{
	text-decoration:none;
}
#navigator p{
	margin:0px 0px 0px 15px;
	padding:2px 0px;
}
#navigator li{
	display:inline;
	padding:2px 0px;
}
#page_navigator{
	margin:0px 15px;
}

/* Side_Bar
----------------------------------------------------------------------------- */
#sidebar,
#subbar{
	overflow:hidden;
}
.bar{
	word-break:break-all;
	padding:7px 15px 15px 15px;
}
.bar:before{
	margin:-7px -15px -9px -15px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("top_left.png");
	display:block;
	background:transparent url("top_right.png") no-repeat top right;
}
.bar:after{
	margin:10px -15px -15px -15px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("bottom_left.png");
	display:block;
	background:transparent url("bottom_right.png") no-repeat top right;
}
.bar h1,
.bar h2,
.bar h3,
.bar h4,
.bar h5{
	font-size:1em;
	font-weight:bold;
	margin:13px -5px 3px -5px;
	padding:0px 5px;
}
.bar div.jumpmenu{
	display:none;
}
.bar ul{
}
.bar li{
	list-style-type:none;
}
.bar ul.list1 li{
	margin-left:-32px;
}
.bar ul.list2 li{
	margin-left:-25px;
}
.bar ul.list3 li{
	margin-left:-25px;
}
.bar img{
	margin:0px auto;
	padding:0px;
}

/* RightBar
----------------------------------------------------------------------------- */
#page_action{
	margin:7px 0px;
}

/* Footer
----------------------------------------------------------------------------- */
#footer:before{
	margin:0px 0px -6px 0px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("top_left.png");
	display:block;
	background:transparent url("top_right.png") no-repeat top right;
}
#footer:after{
	margin:-6px 0px 0px 0px;
	line-height:0.1;
	font-size:1px;
	height:7px;
	content:url("bottom_left.png");
	display:block;
	background:transparent url("bottom_right.png") no-repeat top right;
}
#footer a{
	text-decoration:none;
}
#copyright{
	font-size:13px;
	text-align:center;
}

/* Popup Toc
----------------------------------------------------------------------------- */
#poptoc
{
	font-size:90%;
	border:gray thin outset; padding:0.5em;
	background:#fff8ee;
	/*min-width:18em; max-width:25em;*/
	/*width:22em;*/
	margin-right:-10em;
	z-index:1;
	position:absolute;
	display:none;
}
#poptoc a:hover
{
	background:#ccddee;
}
#poptoc a
{
	color:blue;
}
#poptoc h2
{
	color:navy;
	background:#ffeecc;
	font-size:small;
	font-weight:normal;
	padding:0.3em;
	margin:0;
	text-align:center;
	border:silver solid 1px;
}
#poptoc h2 a
{
	font-size:90%;
	color:navy;
	text-decoration:none;
}
#poptoc h2 img
{
	margin-bottom:-3px;
	margin-right: 2px;
}
#poptoc .nav
{
	border-top:1px gray solid;
	padding-top:0.2em;
	text-align:center;
}
#poptoc a.here
{
	color: #333333;
	background: #fff8f8;
	text-decoration: none;
	border:1px dotted gray;
/*	cursor:default;	*/
}
