/* player */
.mediaplayerbutton
{
	margin:2px 2px;
	width:24px;
}

.playercontainer
{
	border:solid 1px #333;
	width:300px;
	text-align:center;
	vertical-align:middle;
	position:relative;
}

.videosplash
{
	position:expression('absolute');
	display:block;
}

.player
{
	display:none;
	display:expression(PlayerSupported(this)?'block':'none');
	background-color:Black;
	font-size:0px;
}

.controlstable
{
	width:300;
	margin:0px;
	background-image:url(mediaplayer_base.gif);
/*	background-repeat:no-repeat;
*/
}

.controlstablenoscript
{
	display:expression(PlayerSupported(this)?'none':'block');
	margin:0px;
	background-image:url(mediaplayer_base.gif);
	background-repeat:no-repeat;
}


.slider
{
	background-image:url(mediaplayer_playbar.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.indicator,.downloadindicator
{
	width:0px;
	height:3px;
	margin-left:1px;
	margin-top:2px;
}

.indicatorhandle
{
	margin-top:2px;
}
/* end player */

