@charset "Shift_JIS";

body{
	color:#000;
	background-color:#ffffff;
}

/* Link General
----------------------------------------------------------------------------- */
a:link{
	color:#009;
}
a:visited{
	color:#330;
}
a:hover{
	color:#f90;
}

/* header
----------------------------------------------------------------------------- */
#header{
	background-color:#f90;
}
#header a{
	color:#fff;
}

/* Navigator
----------------------------------------------------------------------------- */
#navigator{
	background-color:#999;
}
#navigator a{
	color:#fff;
}
#navigator a:hover{
	color:#fc0;
}

/* Contents
----------------------------------------------------------------------------- */
/* Page Title */
#content h1.title{
	color:#f60;
}
#content h1.title a{
	color:#f60;
}

/* h1 (include.inc.php, calender_viwer.inc.php) */
#body h1{
	color:#f60;
	border-bottom:solid 2px #f60;
	border-left:solid 10px #f60;
}
#body h1 a{
	color:#f60;
}

/* h2 */
#body h2{
	color:#f60;
	border-bottom:solid 2px #f60;
	border-left:solid 10px #f60;
}
#body h2 a{
	color:#f60;
}

/* h3 */
#body h3{
	color:#f60;
	border-left:solid 10px #f60;
}
#body h3 a{
	color:#f60;
}

/* h3 */
#body h4{
	color:#f60;
}
#body h4 a{
	color:#f60;
}

/* LeftBar
----------------------------------------------------------------------------- */
#menubar{
	background-color:#fc0;
}
div#sidebar h1,
div#sidebar h2,
div#sidebar h3,
div#sidebar h4,
div#sidebar h5{
	color:#666;
	border-style:none;
	border-bottom:dotted 2px #666;
}

/* RightBar
----------------------------------------------------------------------------- */
div#search_form{
	background-color:#fc0;
}
div#page_action{
	background-color:#ff6;
}
div#submenu{
	background-color:#ff6;
}
div#subbar h1,
div#subbar h2,
div#subbar h3,
div#subbar h4,
div#subbar h5{
	color:#666;
	border-style:none;
	border-bottom:dotted 2px #666;
}

/* footer
----------------------------------------------------------------------------- */
div#footer{
	color:#666;
	background-color:#f90;
}
div#footer a{
	color:#fff;
}
